WF_GPVH/Service References/ServiceWSUnidades/WSUnidades.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WSUnidades" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2474/WebServices/Unidades/WSUnidades.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2474/WebServices/Unidades/WSUnidades.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2474/WebServices/Unidades/WSUnidades.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WS_GPVH.WebServices.Unidades" />
      <xsd:import schemaLocation="http://localhost:2474/WebServices/Unidades/WSUnidades.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWSUnidades_getListadoUnidades_InputMessage">
    <wsdl:part name="parameters" element="tns:getListadoUnidades" />
  </wsdl:message>
  <wsdl:message name="IWSUnidades_getListadoUnidades_OutputMessage">
    <wsdl:part name="parameters" element="tns:getListadoUnidadesResponse" />
  </wsdl:message>
  <wsdl:message name="IWSUnidades_getListadoUnidadesNoHijas_InputMessage">
    <wsdl:part name="parameters" element="tns:getListadoUnidadesNoHijas" />
  </wsdl:message>
  <wsdl:message name="IWSUnidades_getListadoUnidadesNoHijas_OutputMessage">
    <wsdl:part name="parameters" element="tns:getListadoUnidadesNoHijasResponse" />
  </wsdl:message>
  <wsdl:message name="IWSUnidades_getListadoUnidadesNoHijasClaveValor_InputMessage">
    <wsdl:part name="parameters" element="tns:getListadoUnidadesNoHijasClaveValor" />
  </wsdl:message>
  <wsdl:message name="IWSUnidades_getListadoUnidadesNoHijasClaveValor_OutputMessage">
    <wsdl:part name="parameters" element="tns:getListadoUnidadesNoHijasClaveValorResponse" />
  </wsdl:message>
  <wsdl:message name="IWSUnidades_getListadoUnidadesClaveValor_InputMessage">
    <wsdl:part name="parameters" element="tns:getListadoUnidadesClaveValor" />
  </wsdl:message>
  <wsdl:message name="IWSUnidades_getListadoUnidadesClaveValor_OutputMessage">
    <wsdl:part name="parameters" element="tns:getListadoUnidadesClaveValorResponse" />
  </wsdl:message>
  <wsdl:message name="IWSUnidades_getUnidadById_InputMessage">
    <wsdl:part name="parameters" element="tns:getUnidadById" />
  </wsdl:message>
  <wsdl:message name="IWSUnidades_getUnidadById_OutputMessage">
    <wsdl:part name="parameters" element="tns:getUnidadByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IWSUnidades_addUnidad_InputMessage">
    <wsdl:part name="parameters" element="tns:addUnidad" />
  </wsdl:message>
  <wsdl:message name="IWSUnidades_addUnidad_OutputMessage">
    <wsdl:part name="parameters" element="tns:addUnidadResponse" />
  </wsdl:message>
  <wsdl:message name="IWSUnidades_modifyUnidad_InputMessage">
    <wsdl:part name="parameters" element="tns:modifyUnidad" />
  </wsdl:message>
  <wsdl:message name="IWSUnidades_modifyUnidad_OutputMessage">
    <wsdl:part name="parameters" element="tns:modifyUnidadResponse" />
  </wsdl:message>
  <wsdl:message name="IWSUnidades_deleteUnidad_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteUnidad" />
  </wsdl:message>
  <wsdl:message name="IWSUnidades_deleteUnidad_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteUnidadResponse" />
  </wsdl:message>
  <wsdl:message name="IWSUnidades_filterListadoUnidades_InputMessage">
    <wsdl:part name="parameters" element="tns:filterListadoUnidades" />
  </wsdl:message>
  <wsdl:message name="IWSUnidades_filterListadoUnidades_OutputMessage">
    <wsdl:part name="parameters" element="tns:filterListadoUnidadesResponse" />
  </wsdl:message>
  <wsdl:portType name="IWSUnidades">
    <wsdl:operation name="getListadoUnidades">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSUnidades/getListadoUnidades" message="tns:IWSUnidades_getListadoUnidades_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSUnidades/getListadoUnidadesResponse" message="tns:IWSUnidades_getListadoUnidades_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getListadoUnidadesNoHijas">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSUnidades/getListadoUnidadesNoHijas" message="tns:IWSUnidades_getListadoUnidadesNoHijas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSUnidades/getListadoUnidadesNoHijasResponse" message="tns:IWSUnidades_getListadoUnidadesNoHijas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getListadoUnidadesNoHijasClaveValor">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSUnidades/getListadoUnidadesNoHijasClaveValor" message="tns:IWSUnidades_getListadoUnidadesNoHijasClaveValor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSUnidades/getListadoUnidadesNoHijasClaveValorResponse" message="tns:IWSUnidades_getListadoUnidadesNoHijasClaveValor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getListadoUnidadesClaveValor">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSUnidades/getListadoUnidadesClaveValor" message="tns:IWSUnidades_getListadoUnidadesClaveValor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSUnidades/getListadoUnidadesClaveValorResponse" message="tns:IWSUnidades_getListadoUnidadesClaveValor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getUnidadById">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSUnidades/getUnidadById" message="tns:IWSUnidades_getUnidadById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSUnidades/getUnidadByIdResponse" message="tns:IWSUnidades_getUnidadById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addUnidad">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSUnidades/addUnidad" message="tns:IWSUnidades_addUnidad_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSUnidades/addUnidadResponse" message="tns:IWSUnidades_addUnidad_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="modifyUnidad">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSUnidades/modifyUnidad" message="tns:IWSUnidades_modifyUnidad_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSUnidades/modifyUnidadResponse" message="tns:IWSUnidades_modifyUnidad_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteUnidad">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSUnidades/deleteUnidad" message="tns:IWSUnidades_deleteUnidad_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSUnidades/deleteUnidadResponse" message="tns:IWSUnidades_deleteUnidad_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="filterListadoUnidades">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSUnidades/filterListadoUnidades" message="tns:IWSUnidades_filterListadoUnidades_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSUnidades/filterListadoUnidadesResponse" message="tns:IWSUnidades_filterListadoUnidades_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWSUnidades" type="tns:IWSUnidades">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getListadoUnidades">
      <soap:operation soapAction="http://tempuri.org/IWSUnidades/getListadoUnidades" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getListadoUnidadesNoHijas">
      <soap:operation soapAction="http://tempuri.org/IWSUnidades/getListadoUnidadesNoHijas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getListadoUnidadesNoHijasClaveValor">
      <soap:operation soapAction="http://tempuri.org/IWSUnidades/getListadoUnidadesNoHijasClaveValor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getListadoUnidadesClaveValor">
      <soap:operation soapAction="http://tempuri.org/IWSUnidades/getListadoUnidadesClaveValor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUnidadById">
      <soap:operation soapAction="http://tempuri.org/IWSUnidades/getUnidadById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addUnidad">
      <soap:operation soapAction="http://tempuri.org/IWSUnidades/addUnidad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modifyUnidad">
      <soap:operation soapAction="http://tempuri.org/IWSUnidades/modifyUnidad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteUnidad">
      <soap:operation soapAction="http://tempuri.org/IWSUnidades/deleteUnidad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="filterListadoUnidades">
      <soap:operation soapAction="http://tempuri.org/IWSUnidades/filterListadoUnidades" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSUnidades">
    <wsdl:port name="BasicHttpBinding_IWSUnidades" binding="tns:BasicHttpBinding_IWSUnidades">
      <soap:address location="http://localhost:2474/WebServices/Unidades/WSUnidades.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>