WF_GPVH/Service References/wsSistemaAsistencia/WebServiceSistemaAsistencia.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://webservice/" targetNamespace="http://webservice/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="listarAsistencias" type="tns:listarAsistencias" />
  <xs:element name="listarAsistenciasResponse" type="tns:listarAsistenciasResponse" />
  <xs:complexType name="listarAsistencias">
    <xs:sequence>
      <xs:element minOccurs="0" name="fechaInicio" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaTermino" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarAsistenciasResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>