WF_GPVH/Service References/ServiceWSUsuarios/WSUsuarios.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WSUsuarios" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2474/WebServices/Usuarios/WSUsuarios.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2474/WebServices/Usuarios/WSUsuarios.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2474/WebServices/Usuarios/WSUsuarios.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WS_GPVH" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWSUsuarios_getListadoUsuarios_InputMessage">
    <wsdl:part name="parameters" element="tns:getListadoUsuarios" />
  </wsdl:message>
  <wsdl:message name="IWSUsuarios_getListadoUsuarios_OutputMessage">
    <wsdl:part name="parameters" element="tns:getListadoUsuariosResponse" />
  </wsdl:message>
  <wsdl:message name="IWSUsuarios_getUsuarioById_InputMessage">
    <wsdl:part name="parameters" element="tns:getUsuarioById" />
  </wsdl:message>
  <wsdl:message name="IWSUsuarios_getUsuarioById_OutputMessage">
    <wsdl:part name="parameters" element="tns:getUsuarioByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IWSUsuarios_addUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:addUsuario" />
  </wsdl:message>
  <wsdl:message name="IWSUsuarios_addUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:addUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IWSUsuarios_modifyUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:modifyUsuario" />
  </wsdl:message>
  <wsdl:message name="IWSUsuarios_modifyUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:modifyUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IWSUsuarios_deleteUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteUsuario" />
  </wsdl:message>
  <wsdl:message name="IWSUsuarios_deleteUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IWSUsuarios_autenticarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:autenticarUsuario" />
  </wsdl:message>
  <wsdl:message name="IWSUsuarios_autenticarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:autenticarUsuarioResponse" />
  </wsdl:message>
  <wsdl:portType name="IWSUsuarios">
    <wsdl:operation name="getListadoUsuarios">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSUsuarios/getListadoUsuarios" message="tns:IWSUsuarios_getListadoUsuarios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSUsuarios/getListadoUsuariosResponse" message="tns:IWSUsuarios_getListadoUsuarios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getUsuarioById">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSUsuarios/getUsuarioById" message="tns:IWSUsuarios_getUsuarioById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSUsuarios/getUsuarioByIdResponse" message="tns:IWSUsuarios_getUsuarioById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSUsuarios/addUsuario" message="tns:IWSUsuarios_addUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSUsuarios/addUsuarioResponse" message="tns:IWSUsuarios_addUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="modifyUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSUsuarios/modifyUsuario" message="tns:IWSUsuarios_modifyUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSUsuarios/modifyUsuarioResponse" message="tns:IWSUsuarios_modifyUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSUsuarios/deleteUsuario" message="tns:IWSUsuarios_deleteUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSUsuarios/deleteUsuarioResponse" message="tns:IWSUsuarios_deleteUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="autenticarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSUsuarios/autenticarUsuario" message="tns:IWSUsuarios_autenticarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSUsuarios/autenticarUsuarioResponse" message="tns:IWSUsuarios_autenticarUsuario_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWSUsuarios" type="tns:IWSUsuarios">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getListadoUsuarios">
      <soap:operation soapAction="http://tempuri.org/IWSUsuarios/getListadoUsuarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUsuarioById">
      <soap:operation soapAction="http://tempuri.org/IWSUsuarios/getUsuarioById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addUsuario">
      <soap:operation soapAction="http://tempuri.org/IWSUsuarios/addUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modifyUsuario">
      <soap:operation soapAction="http://tempuri.org/IWSUsuarios/modifyUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteUsuario">
      <soap:operation soapAction="http://tempuri.org/IWSUsuarios/deleteUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="autenticarUsuario">
      <soap:operation soapAction="http://tempuri.org/IWSUsuarios/autenticarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSUsuarios">
    <wsdl:port name="BasicHttpBinding_IWSUsuarios" binding="tns:BasicHttpBinding_IWSUsuarios">
      <soap:address location="http://localhost:2474/WebServices/Usuarios/WSUsuarios.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>