WF_GPVH/Service References/ServiceWSReportes/WSReportes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WS_GPVH.WebServices.Reportes" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WS_GPVH.WebServices.Reportes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfFilaReportePermisos">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FilaReportePermisos" nillable="true" type="tns:FilaReportePermisos" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFilaReportePermisos" nillable="true" type="tns:ArrayOfFilaReportePermisos" />
  <xs:complexType name="FilaReportePermisos">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="Tipo_permiso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Unidad" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FilaReportePermisos" nillable="true" type="tns:FilaReportePermisos" />
</xs:schema>