LB_GPVH/Connected Services/ServiceWSFuncionarios/WSFuncionarios.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WSFuncionarios" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2474/WebServices/Funcionarios/WSFuncionarios.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2474/WebServices/Funcionarios/WSFuncionarios.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2474/WebServices/Funcionarios/WSFuncionarios.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WS_GPVH.WebServices.Funcionarios" />
      <xsd:import schemaLocation="http://localhost:2474/WebServices/Funcionarios/WSFuncionarios.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWSFuncionarios_getListadoFuncionarios_InputMessage">
    <wsdl:part name="parameters" element="tns:getListadoFuncionarios" />
  </wsdl:message>
  <wsdl:message name="IWSFuncionarios_getListadoFuncionarios_OutputMessage">
    <wsdl:part name="parameters" element="tns:getListadoFuncionariosResponse" />
  </wsdl:message>
  <wsdl:message name="IWSFuncionarios_getListadoFuncionariosClaveValor_InputMessage">
    <wsdl:part name="parameters" element="tns:getListadoFuncionariosClaveValor" />
  </wsdl:message>
  <wsdl:message name="IWSFuncionarios_getListadoFuncionariosClaveValor_OutputMessage">
    <wsdl:part name="parameters" element="tns:getListadoFuncionariosClaveValorResponse" />
  </wsdl:message>
  <wsdl:message name="IWSFuncionarios_getListadoFuncionariosNoJefesClaveValor_InputMessage">
    <wsdl:part name="parameters" element="tns:getListadoFuncionariosNoJefesClaveValor" />
  </wsdl:message>
  <wsdl:message name="IWSFuncionarios_getListadoFuncionariosNoJefesClaveValor_OutputMessage">
    <wsdl:part name="parameters" element="tns:getListadoFuncionariosNoJefesClaveValorResponse" />
  </wsdl:message>
  <wsdl:message name="IWSFuncionarios_getListadoFuncionariosNoJefesNoClaveValorModificar_InputMessage">
    <wsdl:part name="parameters" element="tns:getListadoFuncionariosNoJefesNoClaveValorModificar" />
  </wsdl:message>
  <wsdl:message name="IWSFuncionarios_getListadoFuncionariosNoJefesNoClaveValorModificar_OutputMessage">
    <wsdl:part name="parameters" element="tns:getListadoFuncionariosNoJefesNoClaveValorModificarResponse" />
  </wsdl:message>
  <wsdl:message name="IWSFuncionarios_getFuncionarioByRun_InputMessage">
    <wsdl:part name="parameters" element="tns:getFuncionarioByRun" />
  </wsdl:message>
  <wsdl:message name="IWSFuncionarios_getFuncionarioByRun_OutputMessage">
    <wsdl:part name="parameters" element="tns:getFuncionarioByRunResponse" />
  </wsdl:message>
  <wsdl:message name="IWSFuncionarios_addFuncionario_InputMessage">
    <wsdl:part name="parameters" element="tns:addFuncionario" />
  </wsdl:message>
  <wsdl:message name="IWSFuncionarios_addFuncionario_OutputMessage">
    <wsdl:part name="parameters" element="tns:addFuncionarioResponse" />
  </wsdl:message>
  <wsdl:message name="IWSFuncionarios_modifyFuncionario_InputMessage">
    <wsdl:part name="parameters" element="tns:modifyFuncionario" />
  </wsdl:message>
  <wsdl:message name="IWSFuncionarios_modifyFuncionario_OutputMessage">
    <wsdl:part name="parameters" element="tns:modifyFuncionarioResponse" />
  </wsdl:message>
  <wsdl:message name="IWSFuncionarios_deleteFuncionario_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteFuncionario" />
  </wsdl:message>
  <wsdl:message name="IWSFuncionarios_deleteFuncionario_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteFuncionarioResponse" />
  </wsdl:message>
  <wsdl:portType name="IWSFuncionarios">
    <wsdl:operation name="getListadoFuncionarios">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSFuncionarios/getListadoFuncionarios" message="tns:IWSFuncionarios_getListadoFuncionarios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSFuncionarios/getListadoFuncionariosResponse" message="tns:IWSFuncionarios_getListadoFuncionarios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getListadoFuncionariosClaveValor">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSFuncionarios/getListadoFuncionariosClaveValor" message="tns:IWSFuncionarios_getListadoFuncionariosClaveValor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSFuncionarios/getListadoFuncionariosClaveValorResponse" message="tns:IWSFuncionarios_getListadoFuncionariosClaveValor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getListadoFuncionariosNoJefesClaveValor">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSFuncionarios/getListadoFuncionariosNoJefesClaveValor" message="tns:IWSFuncionarios_getListadoFuncionariosNoJefesClaveValor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSFuncionarios/getListadoFuncionariosNoJefesClaveValorResponse" message="tns:IWSFuncionarios_getListadoFuncionariosNoJefesClaveValor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getListadoFuncionariosNoJefesNoClaveValorModificar">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSFuncionarios/getListadoFuncionariosNoJefesNoClaveValorModificar" message="tns:IWSFuncionarios_getListadoFuncionariosNoJefesNoClaveValorModificar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSFuncionarios/getListadoFuncionariosNoJefesNoClaveValorModificarResponse" message="tns:IWSFuncionarios_getListadoFuncionariosNoJefesNoClaveValorModificar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getFuncionarioByRun">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSFuncionarios/getFuncionarioByRun" message="tns:IWSFuncionarios_getFuncionarioByRun_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSFuncionarios/getFuncionarioByRunResponse" message="tns:IWSFuncionarios_getFuncionarioByRun_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addFuncionario">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSFuncionarios/addFuncionario" message="tns:IWSFuncionarios_addFuncionario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSFuncionarios/addFuncionarioResponse" message="tns:IWSFuncionarios_addFuncionario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="modifyFuncionario">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSFuncionarios/modifyFuncionario" message="tns:IWSFuncionarios_modifyFuncionario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSFuncionarios/modifyFuncionarioResponse" message="tns:IWSFuncionarios_modifyFuncionario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteFuncionario">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSFuncionarios/deleteFuncionario" message="tns:IWSFuncionarios_deleteFuncionario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSFuncionarios/deleteFuncionarioResponse" message="tns:IWSFuncionarios_deleteFuncionario_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWSFuncionarios" type="tns:IWSFuncionarios">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getListadoFuncionarios">
      <soap:operation soapAction="http://tempuri.org/IWSFuncionarios/getListadoFuncionarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getListadoFuncionariosClaveValor">
      <soap:operation soapAction="http://tempuri.org/IWSFuncionarios/getListadoFuncionariosClaveValor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getListadoFuncionariosNoJefesClaveValor">
      <soap:operation soapAction="http://tempuri.org/IWSFuncionarios/getListadoFuncionariosNoJefesClaveValor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getListadoFuncionariosNoJefesNoClaveValorModificar">
      <soap:operation soapAction="http://tempuri.org/IWSFuncionarios/getListadoFuncionariosNoJefesNoClaveValorModificar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFuncionarioByRun">
      <soap:operation soapAction="http://tempuri.org/IWSFuncionarios/getFuncionarioByRun" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addFuncionario">
      <soap:operation soapAction="http://tempuri.org/IWSFuncionarios/addFuncionario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modifyFuncionario">
      <soap:operation soapAction="http://tempuri.org/IWSFuncionarios/modifyFuncionario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteFuncionario">
      <soap:operation soapAction="http://tempuri.org/IWSFuncionarios/deleteFuncionario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSFuncionarios">
    <wsdl:port name="BasicHttpBinding_IWSFuncionarios" binding="tns:BasicHttpBinding_IWSFuncionarios">
      <soap:address location="http://localhost:2474/WebServices/Funcionarios/WSFuncionarios.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>