LB_GPVH/Connected Services/ServiceWSFuncionarios/WSFuncionarios1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WS_GPVH.WebServices.Funcionarios" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WS_GPVH.WebServices.Funcionarios" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfFuncionario">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Funcionario" nillable="true" type="tns:Funcionario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFuncionario" nillable="true" type="tns:ArrayOfFuncionario" />
  <xs:complexType name="Funcionario">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ap_materno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ap_paterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Correo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Direc_funcionario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fec_nacimiento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Habilitado" type="xs:int" />
      <xs:element minOccurs="0" name="Nom_funcionario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Run_dv" type="xs:int" />
      <xs:element minOccurs="0" name="Run_sin_dv" type="xs:int" />
      <xs:element minOccurs="0" name="Tipo_funcionario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Unidad_id_unidad" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Funcionario" nillable="true" type="tns:Funcionario" />
</xs:schema>