WF_GPVH/Service References/ServiceWSFuncionarios/WSFuncionarios2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2474/WebServices/Funcionarios/WSFuncionarios.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WS_GPVH.WebServices.Funcionarios" />
  <xs:import schemaLocation="http://localhost:2474/WebServices/Funcionarios/WSFuncionarios.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="getListadoFuncionarios">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getListadoFuncionariosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WS_GPVH.WebServices.Funcionarios" minOccurs="0" name="getListadoFuncionariosResult" nillable="true" type="q1:ArrayOfFuncionario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListadoFuncionariosClaveValor">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getListadoFuncionariosClaveValorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getListadoFuncionariosClaveValorResult" nillable="true" type="q2:ArrayOfKeyValueOfintstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListadoFuncionariosNoJefesClaveValor">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getListadoFuncionariosNoJefesClaveValorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getListadoFuncionariosNoJefesClaveValorResult" nillable="true" type="q3:ArrayOfKeyValueOfintstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListadoFuncionariosNoJefesNoClaveValorModificar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_unidad" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListadoFuncionariosNoJefesNoClaveValorModificarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getListadoFuncionariosNoJefesNoClaveValorModificarResult" nillable="true" type="q4:ArrayOfKeyValueOfintstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFuncionarioByRun">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="run" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFuncionarioByRunResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WS_GPVH.WebServices.Funcionarios" minOccurs="0" name="getFuncionarioByRunResult" nillable="true" type="q5:Funcionario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addFuncionario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="run" type="xs:int" />
        <xs:element minOccurs="0" name="dv" type="xs:int" />
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ap_pat" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ap_mat" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nacimiento" type="xs:dateTime" />
        <xs:element minOccurs="0" name="correo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="direccion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tipo_funcionario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id_unidad" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addFuncionarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addFuncionarioResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modifyFuncionario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="run" type="xs:int" />
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ap_pat" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ap_mat" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nacimiento" type="xs:dateTime" />
        <xs:element minOccurs="0" name="correo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="direccion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tipo_funcionario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="habilitado_bool" type="xs:boolean" />
        <xs:element minOccurs="0" name="id_unidad" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modifyFuncionarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="modifyFuncionarioResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteFuncionario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="run" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteFuncionarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteFuncionarioResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>