LB_GPVH/Connected Services/ServiceWSUnidades/WSUnidades3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2474/WebServices/Unidades/WSUnidades.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WS_GPVH.WebServices.Unidades" />
  <xs:import schemaLocation="http://localhost:2474/WebServices/Unidades/WSUnidades.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="getListadoUnidades">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getListadoUnidadesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WS_GPVH.WebServices.Unidades" minOccurs="0" name="getListadoUnidadesResult" nillable="true" type="q1:ArrayOfUnidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="unidadExiste">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="unidadExisteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="unidadExisteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListadoUnidadesNoHijas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_unidad" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListadoUnidadesNoHijasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WS_GPVH.WebServices.Unidades" minOccurs="0" name="getListadoUnidadesNoHijasResult" nillable="true" type="q2:ArrayOfUnidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListadoUnidadesNoHijasClaveValor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_unidad" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListadoUnidadesNoHijasClaveValorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getListadoUnidadesNoHijasClaveValorResult" nillable="true" type="q3:ArrayOfKeyValueOfintstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListadoUnidadesClaveValor">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getListadoUnidadesClaveValorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getListadoUnidadesClaveValorResult" nillable="true" type="q4:ArrayOfKeyValueOfintstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUnidadById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_unidad" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUnidadByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WS_GPVH.WebServices.Unidades" minOccurs="0" name="getUnidadByIdResult" nillable="true" type="q5:Unidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addUnidad">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="direccion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="unidad_padre" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="jefe" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addUnidadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addUnidadResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modifyUnidad">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_unidad" type="xs:int" />
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="direccion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="habilitado_bool" type="xs:boolean" />
        <xs:element minOccurs="0" name="unidad_padre" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="jefe" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modifyUnidadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="modifyUnidadResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteUnidad">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteUnidadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteUnidadResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="filterListadoUnidades">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WS_GPVH.WebServices.Unidades" minOccurs="0" name="listado" nillable="true" type="q6:ArrayOfUnidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="filterListadoUnidadesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="filterListadoUnidadesResult" nillable="true" type="q7:ArrayOfKeyValueOfintstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>