LB_GPVH/Connected Services/ServiceWSPermisos/WSPermisos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WSPermisos" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2474/WebServices/Permisos/WSPermisos.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2474/WebServices/Permisos/WSPermisos.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2474/WebServices/Permisos/WSPermisos.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WS_GPVH.WebServices.Permisos" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWSPermisos_getPermisosByFuncionario_InputMessage">
    <wsdl:part name="parameters" element="tns:getPermisosByFuncionario" />
  </wsdl:message>
  <wsdl:message name="IWSPermisos_getPermisosByFuncionario_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPermisosByFuncionarioResponse" />
  </wsdl:message>
  <wsdl:message name="IWSPermisos_getDocumentosByPermiso_InputMessage">
    <wsdl:part name="parameters" element="tns:getDocumentosByPermiso" />
  </wsdl:message>
  <wsdl:message name="IWSPermisos_getDocumentosByPermiso_OutputMessage">
    <wsdl:part name="parameters" element="tns:getDocumentosByPermisoResponse" />
  </wsdl:message>
  <wsdl:portType name="IWSPermisos">
    <wsdl:operation name="getPermisosByFuncionario">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSPermisos/getPermisosByFuncionario" message="tns:IWSPermisos_getPermisosByFuncionario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSPermisos/getPermisosByFuncionarioResponse" message="tns:IWSPermisos_getPermisosByFuncionario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getDocumentosByPermiso">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSPermisos/getDocumentosByPermiso" message="tns:IWSPermisos_getDocumentosByPermiso_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSPermisos/getDocumentosByPermisoResponse" message="tns:IWSPermisos_getDocumentosByPermiso_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWSPermisos" type="tns:IWSPermisos">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getPermisosByFuncionario">
      <soap:operation soapAction="http://tempuri.org/IWSPermisos/getPermisosByFuncionario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDocumentosByPermiso">
      <soap:operation soapAction="http://tempuri.org/IWSPermisos/getDocumentosByPermiso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSPermisos">
    <wsdl:port name="BasicHttpBinding_IWSPermisos" binding="tns:BasicHttpBinding_IWSPermisos">
      <soap:address location="http://localhost:2474/WebServices/Permisos/WSPermisos.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>