WF_GPVH/Service References/ServiceWSPermisos/WSPermisos2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WS_GPVH.WebServices.Permisos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WS_GPVH.WebServices.Permisos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPermiso">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Permiso" nillable="true" type="tns:Permiso" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPermiso" nillable="true" type="tns:ArrayOfPermiso" />
  <xs:complexType name="Permiso">
    <xs:sequence>
      <xs:element minOccurs="0" name="Autorizante_run_sin_dv" type="xs:int" />
      <xs:element minOccurs="0" name="Desc_permiso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fecha_inicio" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fecha_solicitud" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fecha_termino" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id_permiso" type="xs:int" />
      <xs:element minOccurs="0" name="Solicitante_run_sin_dv" type="xs:int" />
      <xs:element minOccurs="0" name="Tipo_permiso" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Permiso" nillable="true" type="tns:Permiso" />
</xs:schema>